openapi: 3.0.3
info:
  title: EARLY (Timeular) Public Activities Users API
  version: v4
  description: Public REST API for EARLY (formerly Timeular) time tracking. Manage activities, time entries, live tracking, tags & mentions, folders, users, leaves, and webhook subscriptions. Authentication is via API Key + API Secret exchanged for a Bearer Access Token. Derived by API Evangelist from the provider-published public Postman collection.
  contact:
    name: EARLY Developer Support
    url: https://developers.early.app/
  x-derived-from: https://developers.early.app/ public Postman collection T1DwdEke
servers:
- url: https://api.early.app/api/v4
  description: Production (V4 - current)
security:
- bearerAuth: []
tags:
- name: Users
paths:
  /api/v4/me:
    get:
      summary: Me
      operationId: me
      tags:
      - Users
      description: An endpoint for fetching your basic profile information.
      responses:
        '200':
          description: Me
          content:
            application/json:
              example:
                id: '1'
                name: My name
                email: my-name@example.com
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                error:
                  message: Explanation of what has happened
  /api/v4/users:
    get:
      summary: List all Users
      operationId: listAllUsers
      tags:
      - Users
      description: An endpoint for fetching basic information about your team members.
      responses:
        '200':
          description: List of Users
          content:
            application/json:
              example:
                users:
                - id: '1'
                  name: My name
                  email: my-name@example.com
                - id: '2'
                  name: My teammate
                  email: my-teammate@example.com
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                error:
                  message: Explanation of what has happened
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Access Token obtained from POST /developer/sign-in using your API Key and API Secret.
